<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diplwmatikh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AMEA APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".next_number">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".how_many">

        </activity>
        <activity android:name=".Drag_2_items"></activity>
        <activity android:name=".Edit_data" />
        <activity android:name=".drag_and_drop_numbers" />
        <activity android:name=".complete_the_shape" />
        <activity android:name=".compete_the_pattern" />
        <activity android:name=".select_the_bigger" />
        <activity android:name=".path_with_numbers" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".place_in_order"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Mainmenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Correct_wrong"
            android:screenOrientation="landscape" />
    </application>

</manifest>